<%= form_for([@car, @car.rents.build]) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <p>
          <%= f.label :client %><br>
          <%= f.text_field :client %>
        </p>
        <p>
          <%= f.label "Rent date" %><br>
          <%= f.date_select :from_date, :start_year => 2015 %>
        </p>
        <p>
          <%= f.label "Return date" %><br>
          <%= f.date_select :to_date, :start_year => 2015 %>
        </p>
        <p>
          <%= f.submit "New rent`",  class: "btn btn-success" %>
        </p>
<% end %>