<% provide(:title, @car.name) %>

<div class="row">
  <aside class="col-md-8">
    <section>  
  
          <h1><%= @car.name %></h1>
          <p><%= @car.about %></p>
          <p>Klasa: <%= @car.comfort %></p>
          <p>
              <%= link_to "Edit", edit_car_path(@car) %>
          </p>
          <hr />
   </section>
   <section>
      <h2>Rents</h2>
      <%= render @car.rents %>
   </section> 
  </aside>
  
  <div class="col-md-4">
      <h2>Add a reservation:</h2>
      <%= render 'rents/form' %>
  </div>